__pycache__/
variable_registry.yaml
.vscode/
_build/
test/
metadata.yaml
temp_img/

# Ignore local readthedocs build
html/
sg_execution_times.rst
docs/examples/*/*.svg
example_gallery/
.svg_metadata.yaml
tests/*.yaml