__pycache__/
variable_registry.yaml
.vscode/
_build/
test/
metadata.yaml
registry.yaml
test.yaml
temp_img/
.venv
.nox/
.coverage

# Ignore local readthedocs build
html/
sg_execution_times.rst
docs/examples/*/*.svg
src/plothist/examples/*/*.svg
example_gallery/
.svg_metadata.yaml
tests/*.yaml
pytest_results/

# Version file
_version.py
