[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "plothist"
description = "Plot histograms in a scalable way and a beautiful style."
authors = [
    {name = "Cyrille Praz", email = "code.cyrraz@protonmail.com"},
    {name = "Tristan Fillinger", email = "tristan.github@gmail.com"},
    ]
readme = "README.rst"
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Financial and Insurance Industry",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering",
]
dynamic = ["version", "description"]
requires-python = ">=3.7"
dependencies = [
    "boost-histogram~=1.4.0",
    "numpy>=1.14.5",
    "matplotlib>=3.0",
    "pyyaml>=5.3.1",
    "pandas>=1.3.5",
    "scipy>=1.6.0",
]

[project.urls]
Homepage = "https://github.com/cyrraz/plothist"
Documentation = "https://plothist.readthedocs.io/"
"Bug Tracker" = "https://github.com/cyrraz/plothist/issues"

[project.scripts]
install_latin_modern_fonts = "plothist.scripts.install_latin_modern_fonts:install_latin_modern_fonts"
